body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: #1e293b;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  padding: 12px 20px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

ul li {
  margin: 8px 0;
}

.project-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}

button {
  padding: 12px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
}

#status {
  margin-top: 15px;
  font-weight: bold;
}
